@import 'susy';
@import 'base_layout';
@import "compass/css3/border-radius";

#ui-datepicker-div select {
  margin: 0 5px;
  width: 40%;
  text-align: center;
}

select {
	min-width: 7%;
}

.star {
  display: inline;
  margin-left: 125px;
}

form {
  .counter {
    float: right;
    margin: 10px 25px 0 0;
    color:#999;
    .warning  { color:#600; }
    .exceeded { color:#e00; }
  }
  .rating {
    margin-bottom: 10px;
  }
}


.delete-button {
  float: right;
}

#recaptcha_widget_div {
  padding: 10px 0 20px 0;
}