{{> v2_survey_builder/surveys/left_pane/question_details_with_options }}
<div class="question-input">
  <select name="dropdown-options" class="question-details-input">
    {{#options}}
      {{#models}}
        {{#attributes}}
          <option value="{{content}}" disabled>{{content}}</option>
        {{/attributes}}
      {{/models}}
    {{/options}}
  </select>
</div>
