<span class="question-number">
    {{ id }}
  </span>
<button  class="question-delete-button"><i class="icon-trash"></i></button>
<div class="question-details">
  {{#content}}
    <span class="question-details-content">{{content}}</span>
  {{/content}}
  {{^content}}
    <span class="question-details-placeholder-content">Untitled Question</span>
  {{/content}}
  {{#mandatory}}
    <span class="question-details-mandatory">*</span>
  {{/mandatory}}
</div>
<select name="dropdown-options" class="question-options"></select>
