<div class="question-input">
  <label>
    <input type="checkbox" class="question-details-input" disabled/>
    <span>{{content}}</span>
  </label>
</div>

<a class="question-add-sub-question">Add a Sub Question</a>
