<span class="question-number">
    1.0
  </span>
<div class="question-details">
  {{#content}}
    <span class="question-details-content">{{content}}</span>
  {{/content}}
  {{^content}}
    <span class="question-details-placeholder-content">Untitled Numeric Question</span>
  {{/content}}
  {{#mandatory}}
    <span class="question-details-mandatory">*</span>
  {{/mandatory}}
  <input type="number" class="question-details-input" min="{{ min_value }}" max="{{ max_value }}" disabled/>
</div>