{{> v2_survey_builder/surveys/left_pane/question_details }}
<div class="question-input">
  <input type="number" class="question-details-input" min="{{ min_value }}" max="{{ max_value }}" disabled/>
</div>
