{{> v2_survey_builder/surveys/left_pane/question_details_with_options }}
<div class="question-input">
  {{#options}}
    {{#models}}
      {{#attributes}}
        <label>
          <input type="radio" class="question-details-input" disabled/>
          <span>{{content}}</span>
        </label>
      {{/attributes}}
    {{/models}}
  {{/options}}
</div>
