<div class="question-input">
  <label>
    <input type="radio" class="question-details-input" disabled/>
    <span>{{content}}</span>
  </label>

  <div class="question-sub-questions">
    {{> v2_survey_builder/surveys/left_pane/question_details }}
  </div>
</div>
