{{#options}}
  {{#models}}
    {{#attributes}}
      <label>
        <input type="radio" class="question-details-input" disabled/>
        <span>{{content}}</span>
      </label>
    {{/attributes}}
  {{/models}}
{{/options}}
