{{> v2_survey_builder/surveys/left_pane/question_details }}
<div class="question-input">
  <div class="star" data-number-of-stars="" data-score="" style="cursor: pointer; width: 100px;">
    <img src="/assets/star-off.png" alt="1" title="bad">
    <img src="/assets/star-off.png" alt="2" title="poor">
    <img src="/assets/star-off.png" alt="3" title="regular">
    <img src="/assets/star-off.png" alt="4" title="good">
    <img src="/assets/star-off.png" alt="5" title="gorgeous">
    <input type="hidden" name="score" disabled/>
  </div>
</div>
