<div class="question">
  <span class="question-number">
    1.0
  </span>
  <div class="question-details">
    <span class="question-details-content">{{content}}</span>
    <input type="text" disabled="disabled" class="question-details-input"></input>
  </div>
</div>