<div class="question">
  <div class="question-number">
    1.0
  </div>
  <div class="question-details">
    <span>Question is {{content}}.</span>
    <input type="text" disabled="disabled"></input>
  </div>
</div>