<span class="question-number">
    1.0
  </span>
<div class="question-details">
  <span class="question-details-content">{{content}}</span>
  <input type="text" class="question-details-input" disabled></input>
</div>