<fieldset>
  <label name="survey[questions_attributes][mustache_id][content]" class=" label"><%= t("surveys.new.untitled") %></label>

  <input type="radio" disabled="true">This</input>
  <input type="radio" disabled="true">doesn't</input>
  <input type="radio" disabled="true">work</input>
  <input type="radio" disabled="true">yet!</input>

</fieldset>