<% index = "mustache_id" unless index %>
<% question = nil unless question %>
<fieldset id="dummy_question_<%= index %>">
  <% if question && question.errors.any? %>
    <%= content_tag(:p, question.errors.full_messages.join(''), :class => "inline_error") %>
  <% end %>
  <label name="survey[questions_attributes][<%= index %>][content]" class="label">
    <%= question ? question.content : t("surveys.new.untitled") %>
  </label>
  <input disabled="true"></input>
</fieldset>
