<div class="question">
  {{> v2_survey_builder/surveys/right_pane/question_details_with_options }}

  <div class="question-option-fields question-fields">
    <input type="text" name="question-option-fields-text" class="question-option-fields-text" value=""/>
  </div>

  <button class="survey-builder-action-button question-update">Update</button>
</div>
