@font-face {
  font-family: "FontAwesome";
  src: image-url('font/fontawesome-webfont.eot');
  src: image-url('font/fontawesome-webfont.eot?#iefix') format('eot'), image-url('font/fontawesome-webfont.woff') format('woff'), image-url('font/fontawesome-webfont.ttf') format('truetype'), image-url('font/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

a.delete_question{
  display: block;
  position: relative;
  float: right;
  width: 16px;
  height: 16px;
  text-indent: -1000em;
  overflow: hidden;
  background: $gray-dark;
  @include border-radius(8px);

  &:after{
    color: $white;
    content: "\f00d";
    font-family: "FontAwesome";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    text-indent: 0;
    text-align: center;
    line-height: 18px;
    font-size: 10px;
  }
}