<%= content_for :body_attributes do %> id="build_v2" <% end %>
<%= render "layouts/status_bar", :status => "edit" %>

<div class="survey-header">
  <div class="survey-metadata">
    <h3 class="survey-metadata-name">
      <%= @survey.name %>
    </h3>

    <div class="survey-metadata-description">
      <%= @survey.description %>
    </div>
  </div>

  <div class="survey-actions">
    <ul class="survey-actions-list">
      <li class="survey-action-list-item"> <a href="#">Save</a> </li>
      <li class="survey-action-list-item"> <a href="#">Save</a> </li>
      <li class="survey-action-list-item"> <a href="#">Save</a> </li>
      <li class="survey-action-list-item"> <a href="#">Save</a> </li>
      <li class="survey-action-list-item"> <a href="#">Save</a> </li>
      <li class="survey-action-list-item"> <a href="#">Save</a> </li>
    </ul>
  </div>
</div>
