<div id="saving-indicator">
  <div class="saving-indicator-failure">
    <i class="icon-exclamation-sign"></i>
    <span>There was an error in saving the survey. Try again.</span>
  </div>
  <span class="saving-indicator-time-ago"></span>
  <div class="saving-indicator-progress">
    <span class="saving-indicator-progress-label">Saving</span>
    <%= image_tag "spinner_v2.gif", :class => "saving-indicator-progress-spinner" %>
  </div>
</div>


<%= content_for :body_attributes do %> id="build_v2"
<% end %>
<div id="survey_builder_v2">
  <%= render 'v2_survey_builder/surveys/header', :mustache => @survey.attributes %>
</div>

<script type="text/javascript">
  new SurveyBuilderV2.Views.SurveyView({ el: "#survey_builder_v2", survey: gon.survey_attributes })
</script>