<div id="saving-indicator">
  <span class="saving-indicator-label">Saving</span>
  <%= image_tag "spinner_v2.gif", :class => "saving-indicator-spinner" %>
</div>


<%= content_for :body_attributes do %> id="build_v2"
<% end %>
<div id="survey_builder_v2">
  <%= render 'v2_survey_builder/surveys/header', :mustache => @survey.attributes %>
</div>

<script type="text/javascript">
  new SurveyBuilderV2.Views.SurveyView({ el: "#survey_builder_v2", survey: gon.survey_attributes })
</script>