<header>
  <h2><%= t('.list_of_users_heading', :survey_name => @survey.name) %></h2>
</header>

<table class="responses-dashboard-table">
  <thead>
    <th>User</th>
    <th>Role</th>
    <th>User ID</th>
    <th class="actions">&nbsp;</th>
  </thead>

  <tbody>
    <% @ids_for_users_with_responses.each do |user_id| %>
    <tr>
      <td>N/A</td>
      <td>N/A</td>
      <td><%= user_id %></td>
      <td class="actions">
        <%= link_to t(".view_report_for_user_link"), survey_dashboard_path(@survey.id, user_id) %>
      </td>
    </tr>
    <% end %>
  </tbody>
 </table>