<h1><%= @survey.reporter.complete_responses_per_survey_per_user_grouped_by_completion_month(@current_user_id) %></h1>
<h1><%= @survey.reporter.incomplete_responses_per_survey_per_user_grouped_by_month(@current_user_id) %></h1>
