<a href="javascript:void(0)" class="delete_category">delete</a>
<a href="javascript:void(0)" class="copy_question" >Copy</a>
<a href="{{duplicate_url}}" class="copy_question_hidden" data-method="post">Copy</a>
<div class="collapse_category">&#9660;</div>
<div class="inline_errors">{{errors}}</div>
<span>{{question_number}})</span>
<label>
  {{content}}
</label>
