<a href="#" class="delete_category">delete</a>
<% unless Rails.env.production? %>
  <div class="collapse_category">&#9660;</div>
<% end %>
<div class="inline_errors">{{errors}}</div>
<span>{{question_number}})</span>
<label>
  {{content}}
</label>
