<a href="#" class="delete_category">delete</a>
<div class="collapse_category">&#9660;</div>
<div class="inline_errors">{{errors}}</div>
<span>{{question_number}})</span>
<label>
  {{content}}
</label>
