<a href="javascript:void(0)" class="delete_category">delete</a>
<a href="{{duplicate_url}}" class="copy_question" data-method="post">Copy</a>
<div class="collapse_category">&#9660;</div>
<div class="inline_errors">{{errors}}</div>
<span>{{question_number}})</span>
<label>
  {{content}}
  <abbr name="mandatory" title="required" style="display:none"> * </abbr>
</label>
