<%= render "templates/dummies/finalized_icon" %>
<a href="javascript:void(0)" class="delete_question">delete</a>
<a href="javascript:void(0)" class="copy_question" >Copy</a>
<a href="{{duplicate_url}}" class="copy_question_hidden" data-method="post">Copy</a>
<div class="inline_errors">{{errors}}</div>
<img src="{{image.thumb.url}}" class="thumb" />
<span>{{question_number}})</span>
<label>
	{{content}}
	<abbr name="mandatory" title="required" style="display:none"> * </abbr>
</label>
{{#identifier}}<span class="identifier_icon">bookmarked</span>{{/identifier}}
<input type="number" disabled="true" />
