<a href="#" class="delete_question">delete</a>
<div class="inline_errors">{{errors}}</div>
<img src="{{image_url}}" />
<span>{{question_number}})</span>
<label>
	{{content}}
	<abbr name="mandatory" title="required" style="display:none"> * </abbr>
</label>
{{#identifier}}
  <div class="identifier_icon">
    <img src='/assets/bookmark.png' />
  </div>
{{/identifier}}
<input type="number" disabled="true" />