<a href="javascript:void(0)" class="delete_question">delete</a>
<a href="{{duplicate_url}}" class="copy_question" data-method="post">Copy</a>
<div class="inline_errors">{{errors}}</div>
<img src="{{image_url}}" class="thumb" />
<span>{{question_number}})</span>
<label>
	{{content}}
	<abbr name="mandatory" title="required" style="display:none"> * </abbr>
</label>
{{#identifier}}
  <div class="identifier_icon">
    <img src='/assets/bookmark.png' />
  </div>
{{/identifier}}