<a href="#" class="delete_question">X</a>
<div class="inline_errors">{{errors}}</div>
<img src="{{image_url}}" />
<label>
	{{content}}
	<abbr name="mandatory" title="required" style="display:none"> * </abbr>
</label>