<div class="inline_errors">{{errors}}</div>
<img src="{{organization_logo_url}}">
<h1> {{name}} </h1>
<h2><%= t("activerecord.attributes.survey.expiry_date") %>: {{expiry_date}} </h2>
<div> {{description}} </div>
