<div class="inline_errors">{{errors}}</div>
<div><%= t("activerecord.attributes.survey.name") %>: {{name}} </div>
<div><%= t("activerecord.attributes.survey.expiry_date") %>: {{expiry_date}} </div>
<div><%= t("activerecord.attributes.survey.description") %>: {{description}} </div>