<div class="inline_errors">{{errors}}</div>
<h1><%= t("activerecord.attributes.survey.name") %>: {{name}} </h1>
<h2><%= t("activerecord.attributes.survey.expiry_date") %>: {{expiry_date}} </h2>
<div><%= t("activerecord.attributes.survey.description") %>: {{description}} </div>