<div id="excel-dialog" title="<%= t('responses.excel.excel_dialog_title') %>">
  <fieldset class="pick-date-range">
    <legend>
      <input id="date-range-checkbox" type="checkbox"></input>
      <label class='date-range' for="date-range-checkbox">Pick Date Range</label>
    </legend>

    <input disabled type="text" class="from-date date-picker" placeholder="From"></input>
    <input disabled type="text" class="to-date date-picker" placeholder="To"></input>
  </fieldset>

  <button class="generate-button">Generate Excel</button>
  <button class="cancel-button">Cancel</button>
</div>
