<div id="dialog" title="<%= t('responses.excel.excel_dialog_title') %>">
  <%= image_tag 'spinner.gif', :class => "excel_spinner" %>
  <p><%= t('responses.excel.excel_downloading_message') %></p>
</div>