<% if @responses.present? %>
  <?xml version="1.0"?>
  <Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
    xmlns:o="urn:schemas-microsoft-com:office:office"
    xmlns:x="urn:schemas-microsoft-com:office:excel"
    xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
    xmlns:html="http://www.w3.org/TR/REC-html40">
    <Worksheet ss:Name="Sheet1">
      <Table>
        <Row>
          <% @responses.first.questions.each do |question| %>
            <Cell><Data ss:Type="String"><%= question.content %></Data></Cell>
          <% end %>
        </Row>
      <% @responses.each do |response| %>
        <Row>
          <% response.questions.each do |question| %>
            <% answer = response.answers.find_by_question_id(question.id) %>
            <Cell><Data ss:Type="String"><%= answer.content_for_excel(server_url) %></Data></Cell>
          <% end %>
        </Row>
      <% end %>
      </Table>
    </Worksheet>
  </Workbook>
<% end %>