production:
  OAUTH_ID: # Application ID of the OAuth provider.
  OAUTH_SECRET: # Secret of the OAuth provider.
  OAUTH_SERVER_URL: # URL where the OAuth Provider instance is hosted.
  S3_ACCESS_KEY: # S3 Access key.
  S3_SECRET: # S3 Secret Key
  S3_BUCKET: # S3 Bucket Name
  BITLY_USERNAME: # Username of your bit.ly account
  BITLY_API_KEY: # API key from your bit.ly account
  MIXPANEL_TOKEN: # The access token provided by mixpanel
  SENDGRID_CATEGORY: # The category used when sending emails
  AIRBRAKE_TOKEN: # API token for airbrake.io
  SECRET_TOKEN: # Secret key used to sign cookies (run `rake secret`)
  SURVEY_BUILDER_V2: # Feature toggle for the new Survey Builder

development:
  OAUTH_ID: # Application ID of the OAuth provider.
  OAUTH_SECRET: # Secret of the OAuth provider.
  OAUTH_SERVER_URL: # URL where the OAuth Provider instance is hosted.
  S3_ACCESS_KEY: # S3 Access key.
  S3_SECRET: # S3 Secret Key
  S3_BUCKET: # S3 Bucket Name
  BITLY_USERNAME: # Username of your bit.ly account
  BITLY_API_KEY: # API key from your bit.ly account
  MIXPANEL_TOKEN: # The access token provided by mixpanel
  SENDGRID_CATEGORY: # The category used when sending emails
  AIRBRAKE_TOKEN: # API token for airbrake.io
  SECRET_TOKEN: # Secret key used to sign cookies (run `rake secret`)
  SURVEY_BUILDER_V2: # Feature toggle for the new Survey Builder

test:
  OAUTH_ID: # Application ID of the OAuth provider.
  OAUTH_SECRET: # Secret of the OAuth provider.
  OAUTH_SERVER_URL: # URL where the OAuth Provider instance is hosted.
  S3_ACCESS_KEY: # S3 Access key.
  S3_SECRET: # S3 Secret Key
  S3_BUCKET: # S3 Bucket Name
  BITLY_USERNAME: # Username of your bit.ly account
  BITLY_API_KEY: # API key from your bit.ly account
  MIXPANEL_TOKEN: # The access token provided by mixpanel
  SENDGRID_CATEGORY: # The category used when sending emails
  AIRBRAKE_TOKEN: # API token for airbrake.io
  SECRET_TOKEN: # Secret key used to sign cookies (run `rake secret`)
  SURVEY_BUILDER_V2: # Feature toggle for the new Survey Builder
