<div id="survey-duplicate-dialog" title=<%= t("surveys.duplication_dialog_title") %>>
  <p><%= t("surveys.duplication_in_progress") %></p>
  <%= image_tag 'spinner.gif', :class => "spinner" %>
</div>
