<div id="public-link-dialog" title="Crowd Source Link">
  <%= image_tag 'spinner.gif', :class => "spinner" %>
  <div class="public-link-container"></div>

  <button class="ok-button">Done</button>
  <button class="clipboard-button"></button>
</div>
