<div id="public-link-dialog" title="<%= t('surveys.public_link.dialog_title') %>">
  <%= image_tag 'spinner.gif', :class => "spinner" %>
  <div class="public-link-container"></div>

  <button class="ok-button"><%= t("surveys.public_link.ok_button_text") %></button>
  <button class="clipboard-button"></button>
</div>
