@import 'susy';
@import 'compass/reset';

$total-columns  : 1;              // a 12-column grid
$column-width   : 960px;           // each column is 4em wide
$gutter-width   : 1px;          // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters
$base-font-size : 16px;           // font-size to base all the em measurements on

//Palette. $a is the lightest; $e is the darkest.
$a: #F7F2B2;
$b: #C2BD86;
$c: #88A33E;
$d: #8E3557;
$e: #541E32;

$header_color: $e;
$footer_color: $e;
$link_color: $a;

.container{
  @include container;
}

.header, .footer {
  width: 960px;
  a {
    color: $link_color; 
    text-decoration: none;
    &:hover { color: darken($link_color, 20%); }
  }
}

.header{
  position: relative;
  margin: 2em auto;
  background-color: $header_color;
  padding: 0.8em;
  clear: both;
  li {
    padding-left: 25px;
    font-size: 14px;
    text-decoration: none;
    display: inline;
  }
}

p.error{
  background-color: rgb(242, 222, 222);
  border: 1px solid rgb(238, 211, 215);
  color: rgb(185, 74, 72);
  padding: 8px 35px 8px 14px;
}

p.notice{
  background-color: rgb(223, 240, 216);
  border-color: rgb(214, 233, 198);
  color: rgb(70, 136, 71);
  padding: 8px 35px 8px 14px;
}

h1{
  font-size: 1.8em;
  margin-bottom: 0.5em;
}

.footer{
  margin: 2em auto 0 auto;
  background-color: $footer_color;
  padding: 0.8em;
  clear: both;
  li {
    padding-left: 25px;
    font-size: 14px;
    text-decoration: none;
    display: inline;
  }
}