body#build div#content{
  @include span-columns(6);

  div#survey_builder{
    margin: 0; padding: 0 20px;
    position: relative;

    ul#picker_pane{
      display: block;
      position: absolute;

      position: absolute;
      right: -90%;
      width: 80%;
      @include transition(all 1.0s ease-in-out);

      padding: 20px;
      margin: 0;
      list-style: none;
      font-size: 16px;
      line-height: 24px;

      li{
        width: 30%;
        padding: 0;
        margin: 1.5%;
        list-style: none;
        display: block;
        float: left;
        text-align: center;

        a{
          display: block;
          padding: 0;
          background: $secondary-color;
          color: $primary-color;
          @include border-radius(10px);

          &:hover{background: $secondary-color-light; border: none;}
        }
      }
    }

    div#settings_pane{
      display: block;
      position: absolute;
      right: -90%;
      width: 80%;
      padding: 20px;
      margin: 0;
      background: $secondary-color-light;
      @include transition(all 1.0s ease-in-out);

      &:before{
        content: "";
        display: block;
        width: 0; height: 0;
        position: absolute;
        border: solid 10px $secondary-color-light;
        border-top-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
        margin-left: -20px;
        left: 0;
      }
    }

    div{margin-bottom: 6px;}

    div.add_option{
      border-top: solid 1px $secondary-color;
      padding-top: 10px;
      margin-top: 10px;
    }
  }

  div#dummy_pane{
    div#dummy_survey_details{
      display: block;
    }

    div.dummy_question_content, div.dummy_category_content, div#dummy_survey_details>div{
      padding: 4px 10px 10px 30px;
      margin-bottom: 4px;

      span{display: block; float: left; margin-left: -20px; font-weight: bold;}

      a.delete_question, a.delete_category {display: none;}
      &:hover{ background: $gray-xxlight;}
      img{display: none;}

      &.active{
        background: $secondary-color-light;
        a.delete_question, a.delete_category  {display: block; background: $secondary-color;}
      }
    }


  }
}

#loading_overlay {
  z-index: 99999;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  .spinner {
    position: absolute;
    left: 46%;
    top: 36%;
  }

  p {
    left: 46%;
    text-align: center;
    top: 42%;
    color: $secondary-color;
    font-size: 25px;
  }
}