div#content{
  header{
    padding: 0;
    ul{
      display: block; margin: 0; padding: 0;
      @include clearfix;

      li{
        display: block; margin: 0; padding: 0 0 0 24px;
        float: left;
        position: relative;
        list-style: none;
        font-size: 18px;
        line-height: 36px;
        height: 36px;

        &:first-child{padding-left: 12px;}

        &:after, &:before{
          content: "";
          height: 0;
          weight: 0;
          display: block;
          position: absolute;
          top: 0;
          right: -36px;

          border: solid 18px $secondary-color-light;
          border-top-color: transparent;
          border-bottom-color: transparent;
          border-right-color: transparent;
        }

        &:before{
          right: -37px;
          border-left-color: $secondary-color;
        }

        &.active{
          font-weight: bold;
          background: $secondary-color;

          &:after{border-left-color: $secondary-color;}
        }
      }
    }
  }


  div#survey_builder{
    margin: 0; padding: 100px 500px 0 20px;
    position: relative;

    ul#picker_pane{
      display: block;
      position: absolute;

      top: 0;
      left: 0;
      right: 0;
      padding: 12px;
      margin: 0;
      list-style: none;
      text-align: right;
      background: $primary-color;
      color: $secondary-color-light;
      font-size: 16px;
      line-height: 24px;

      li{
        padding: 0;
        margin: 4px;
        list-style: none;
        display: block;
        float: left;

        a{
          display: block;
          padding: 0 20px;
          background: $secondary-color;
          color: $primary-color;
          @include border-radius(10px);

          &:hover{background: $secondary-color-light; border: none;}
        }
      }
    }

    div#settings_pane{
      display: block;
      position: absolute;
      right: 0;
      width: 440px;
      padding: 20px;
      margin: 0;
      background: $secondary-color-light;

      &:before{
        content: "";
        display: block;
        width: 0; height: 0;
        position: absolute;
        border: solid 10px $secondary-color-light;
        border-top-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
        margin-left: -20px;
        left: 0;
      }
    }

    div{margin-bottom: 6px;}

    div.add_option{
      border-top: solid 1px $secondary-color;
      padding-top: 10px;
      margin-top: 10px;
    }
  }

  div#dummy_pane{
    div#dummy_survey_details{
      display: block;
    }

    div.dummy_question_content, div#dummy_survey_details>div{
      padding: 10px;
      margin-bottom: 4px;

      a.delete_question{display: none;}
      &:hover{ background: $gray-xxlight;}

      &.active{
        background: $secondary-color-light;
        a.delete_question{display: block; background: $secondary-color;}
      }
    }


  }
}

