ul.organizations-dashboard {
  @include clearfix;
}

li.organizations-dashboard-organization {
  padding-top: 30px;
  @include span-columns(11);
  border-bottom: 1px solid $secondary-color;
  &:last-child { border-bottom: none; }
  &:hover {
    background-color: $highlight;
    cursor: pointer;
  }
}

.organizations-dashboard-organization-name {
  @include span-columns(4, 11);
}

.organizations-dashboard-organization-surveys {
  @include span-columns(2, 11);
}

.organizations-dashboard-organization-responses {
  @include span-columns(2, 11);
}

.organizations-dashboard-organization-users {
  @include span-columns(2, 11);
}

.organizations-dashboard-organization-name,
.organizations-dashboard-organization-surveys,
.organizations-dashboard-organization-responses,
.organizations-dashboard-organization-users {
  .count { font-size: 20px; }
  text-align: center;
}


.organization-dashboard-overview {
  @include clearfix;
  width: 60%;
  margin: 30px auto 0;
  padding-left: 0;

  .organization-dashboard-overview-item {
    width: 12.5%;
    float: left;
    border: 1px solid #eee;
    padding: 10px 6% 5px;
    text-align: center;
    &:not(:last-child) { border-right: none; }
    &:first-child { @include border-left-radius(5px); }
    &:last-child { @include border-right-radius(5px); }
    .count {
      font-size: 20px;
      font-weight: bold;
     }
    .label { margin: 0; }
  }
}
