div#public-link-dialog {
  .no-close .ui-dialog-titlebar-close {
    display:none;
  }

  display: none;
  .spinner {
    display: none;
    margin: 10px auto 0 auto;
  }

  div.public-link {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
  }

  .no-close .ui-dialog-titlebar-close {
    display:none;
  }

  .copied {
    display: none;
  }

  .ok-button {
    float: right;
    margin: 19px 0 0 10px;
  }

  .clipboard-button {
    float:right;
    margin-top: 19px;
    background: none;
    border: none;
    color: $secondary-color-dark;
    margin-top: 22px;
    font-size: 13px;
    font-weight: 400;

    &:hover {
      color: darken($secondary-color-dark, 10%);
      text-decoration: underline;
    }
  }
}
