table{
  thead{
    tr th{ background: $secondary-color-light;}
  }

  tr{
    td, th{
      padding: 2px 6px;
      vertical-align: top;
      text-align: left;

      &.actions{
        width: 60px; max-height: 36px; text-align: right;

        a{
          display: none;
          text-align: center;
          margin: 2px;
          padding: 0 4px;
          line-height: 16px;
          background: $secondary-color-light;
          @include border-radius(2px);
        }
      }
    }

    &:hover{
      td, th{
        &.actions a{display: block;}
      }
    }
  }

}

div.hidden {
  display: none;
}

li {
  list-style-type: none;
}

img.medium {
  width: 300px;
}