table{
  thead{
    tr th{ background: $secondary-color-light;}
  }

  tr{
    td, th{
      padding: 2px 6px;
      vertical-align: top;
      text-align: left;

      &.actions{
        width: 60px; max-height: 36px; text-align: right;

        a{
          display: none;
          text-align: center;
          margin: 2px;
          padding: 0 4px;
          line-height: 16px;
          background: $secondary-color-light;
          @include border-radius(2px);
        }
      }
    }

    &:hover{
      td, th{
        &.actions a{display: block;}
      }
    }
  }

}

.no-close .ui-dialog-titlebar-close {
  display:none;
}

#excel-dialog {
  display: none;
  padding: 15px;

  .pick-date-range {
    padding: 15px;

    label.date-range { display: inline; }
    legend { padding: 0 10px;}

    .from-date {
      width: 48%;
      float:left;
      padding: 10px;
    }

    .to-date {
      padding: 10px;
      width: 48%;
      float: right;
    }
  }

  .other-settings {
    legend {
      padding: 0 10px;
      font-weight: 600;
    }
    margin-top: 20px;
  }

  .filter-private-questions {
    margin: 10px;
    label {
      display: inline;
      font-weight: 400;
    }
  }

  .error-message {
    float: left;
    color: $danger;
    margin: 19px 0 0 10px;
  }

  .generate-button {
    float: right;
    margin: 19px 0 0 10px;
  }

  .cancel-button {
    float:right;
    margin-top: 19px;
    background: none;
    border: none;
    color: $secondary-color-dark;
    margin-top: 22px;
    font-size: 13px;
    font-weight: 400;

    &:hover {
      color: darken($secondary-color-dark, 10%);
      text-decoration: underline;
    }
  }

  .excel_spinner {
    margin: 10px auto 0 auto;
    display: block;
  }

  .polling-message { text-align: center; }
}

div.ui-widget-overlay {
  z-index: 20;
}

div.ui-dialog {
  z-index: 21;
}


div.hidden {
  display: none;
}

li {
  list-style-type: none;
}

img.medium {
  width: 300px;
}

div.record {
  border: 1px solid $secondary-color-light;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  .question, .category {
    margin-bottom: 5px;
  }
}

a.create_record {
  font-size: 12px;
  color: $primary-color-light;
  margin-left: 5px;
}

#data_cleaning {
  > form > fieldset {
    margin-top: 25px;
    h2 { border-bottom: none; }
    fieldset.actions { border-top:  none; }
  }
}

.inline-errors {
  color: $danger;
}

.public_save_button {
  float: none !important;
  margin-left: 450px;
}

.thank-you {
  .description {
    margin: 30px;
    font-size: 18px;
  }
}
