table{
  thead{
    tr th{ background: $secondary-color-light;}
  }

  tr{
    td, th{
      padding: 2px 6px;
      vertical-align: top;
      text-align: left;

      &.actions{
        width: 60px; max-height: 36px; text-align: right;

        a{
          display: none;
          text-align: center;
          margin: 2px;
          padding: 0 4px;
          line-height: 16px;
          background: $secondary-color-light;
          @include border-radius(2px);
        }
      }
    }

    &:hover{
      td, th{
        &.actions a{display: block;}
      }
    }
  }

}

#dialog, .no-close .ui-dialog-titlebar-close {
  display:none;
}

.excel_spinner {
  margin: 10px auto 0 auto;
  display: block;
}

div.ui-widget-overlay {
  z-index: 20;
}

div.ui-dialog {
  z-index: 21;
}


div.hidden {
  display: none;
}

li {
  list-style-type: none;
}

img.medium {
  width: 300px;
}

div.record {
  border: 1px solid $secondary-color-light;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  .question, .category {
    margin-bottom: 5px;
  }
}

a.create_record {
  font-size: 12px;
  color: $primary-color-light;
  margin-left: 5px;
}

#data_cleaning {
  > form > fieldset {
    margin-top: 25px;
    h2 { border-bottom: none; }
    fieldset.actions { border-top:  none; }
  }
}

.inline-errors {
  color: $danger;
}
