div#survey-duplicate-dialog {
  .no-close .ui-dialog-titlebar-close {
    display:none;
  }


  p { text-align: center; }

  display: none;

  .spinner {
    margin: 10px auto 0 auto;
    display: block;
    padding-bottom: 20px;
  }
}
