@import 'susy';
@import 'base_layout';
@import "compass/css3/border-radius";

$total-columns: 12;
$column-width: 60px;
$gutter-width: 20px;
$grid-padding: 10px;

.container{
  @include container;
}

.dummy_form_display {
  @include span-columns(7 omega, 12);
  margin-bottom: 1em;
  border: 1px solid $border_color;
  padding: 1em;

  fieldset {
    padding: 4px;
    &:hover {
      color: $link_hover_color;
      border: 1px dashed $border_color;
      @include border-radius(4px, 4px);
    }
  }

  .active {
    padding: 4px;
    background: $survey_details_bg_color;
    @include box-sizing(content-box);
    @include border-radius(4px, 4px);
  }

  label {
    display :block;
  }

  #dummy_questions {
    input {
      width: 98%;
    }
  }
}

.sidebar { @include span-columns(4.5, 12); }

.question_picker_pane {
  border: 1px solid $border_color;
  padding: 1em;
}

.settings_pane{
  border: 1px solid $border_color;
  padding: 1em;
  display: none;
}

.tabs {
  li {
    @include border-top-left-radius(0.5em);
    @include border-top-right-radius(0.5em);
    color: $tab_header_color;
    border: 1px solid $border_color;
    border-bottom: 0;
    padding: 0.2em 0.6em 0 0.6em;
    font-family: sans-serif;
    font-size: 0.9em;
    display: inline;
    cursor: pointer;
    a {
      text-decoration: none;
      color: $link_color;
      &:hover {
        color: $link_hover_color;
      }
    }
  }
  .active {
    background-color: $active_tab_color;
  }
}