<div id="survey-builder-v2">
  <div class="survey-header-edit"></div>
  <button class="add-question"></button>
  <button class="update-survey">Update</button>
  <div class="survey-panes-left-pane"></div>
  <div class="survey-panes-right-pane"></div>
</div>
