<div>{{errors}}</div>
<label><%= t("surveys.build.option") %></label>
<input type="text" value="{{content}}"></input>
<div>
  <%= render 'templates/question_types_dropdown' %>
  <button class='add_sub_question' href='javascript:void(0)'>Add</button>
</div>
<div>
  <button class='add_sub_category' href='javascript:void(0);'>Add Category</button>
</div>
<div class="delete_option"><%= button_tag t("delete_option"), :class => "delete_option" %></div>
