<div class="upload_files">
  <label><%= t("activerecord.attributes.question.image") %> </label>
  <input name="image" class="fileupload" type="file" name="files[]" accept="image/png, image/jpg">
  <div class="spinner"></div>
</div>
