<div class="actions">
  <%= render 'templates/question_types_dropdown' %>
  <a class='add_sub_question button' href='#'>Add</a>
  <br/>
  <a class='add_sub_category button' href='#'>Add Category</a>
  <a class='delete_option button' href='#'>Delete Option</a>
</div>
<div>{{errors}}</div>
<input type="text" value="{{content}}"></input>
