<label>Question title:</label>
<input value="{{content}}"></input>
<div>
	<label>Mandatory:</label>
	<input type="checkbox" value="{{mandatory}}"></input>
</div>
<div>
	<label>Image: </label>
	<input type="file" accept="image/*" />
</div>