<label><%= t("surveys.build.question_title") %> </label>
<input type="text" name="content" value="{{content}}"></input>
<div>
  <label><%= t("activerecord.attributes.question.mandatory") %> </label>
  <input type="checkbox" name="mandatory" value="{{mandatory}}"></input>
</div>
<input class="fileupload" type="file" name="files[]">
<div>
  <%= button_tag t("add_option"), :class => "add_option" %>
</div>