<div>{{errors}}</div>
<label><%= t("surveys.build.option") %></label>
<input type="text" value="{{content}}"></input>
<button class='add_sub_question' href='#'>sub</button>
<a class='delete_option' href='#'></a>