<label><%= t("surveys.build.question_title") %> </label>
<input type="text" name="name" value="{{name}}"></input>

<label><%= t("surveys.build.question_title") %> </label>
<input id="expiry_date" type="text" name="expiry_date" value="{{expiry_date}}"></input>

<label>Description</label>
<input type="text" name="description" value="{{description}}"></input>