<div class = "footer">
  <% unless request.post? || request.put? %>
    <ul class = "locales">
      <li><%= link_to "English", root_path(locale: nil) %></li>
      <li><%= link_to "French", root_path(locale: 'fr') %></li>
    </ul>
  <% end %> 
</div>