<div class="footer">
  <% unless request.post? || request.put? %>
    <%= link_to "English", root_path(locale: nil) %> |
    <%= link_to "French", root_path(locale: 'fr') %>
  <% end %> 
	<%= yield :scripts %>
</div>