<%= render "layouts/banner" unless @public_response %>
<h1 id="logo">
  <a href="/"><%= t(:application_title) %></a>
</h1>

<% if user_currently_logged_in? %>
  <h3 id="welcome"><%= t("header.logged_in_as", :username => current_username) %></h3>
<% end %>
